/* HalloDanis */
.body {
    background-color: #F0F8FF;
}

.collapse {
    background-color: #ADD8E6;
}

.navbar {
    background-color: #ADD8E6;
}

.hello { 
    background-color: #F0F8FF;
}
.card-body {
    background-color: #F0F8FF;
}


.card-text {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:23px;
}


.part1 {
    font-size: 27px;
}

.isipart1{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.accordion-body {
    background-color: rgb(189, 236, 237);
}

/* HalloDanis end */


